@import url("../fonts/stylesheet.css");
@import url("./default.scss");

:root {
  --primary: #1473e6;
  --headerColor: #2c2c2c;
  --textColor: #6e6e6e;
  --subColor: #4b4b4b;
  --white: #fff;
}

.container {
  max-width: 1200px;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  // @media only screen and (max-width: 1200px) {
  //   width: 1140px;
  // }
  @media only screen and (max-width: 992px) {
    width: 960px;
  }
  @media only screen and (max-width: 768px) {
    width: 720px;
  }
  @media only screen and (max-width: 576px) {
    width: 540px;
  }
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.w--screen {
  width: 100vw;
}
.h--screen {
  height: 100vh;
}
.h--full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.bg--white {
  background-color: var(--white);
}
